<!DOCTYPE html>
<html>
  <head>
    <title>Example: connect-assets with require.js</title>
  </head>
  <body>
    <%- js("vendor/require.js", { "data-main": assetPath("main.js") }) %>
  </body>
</html>
